*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 70px;
}
.header img{
	width: 150px;
	padding-left: 110px;
	padding-top: 13px;
}
.menu{
	float: right;
	padding-top: 22px;
	padding-right: 100px;
}

ul li{
			display: inline-block;
			width: 125px;
			height: 38px;
			color:  #f8d8e6;
			text-align: center;
			line-height: 38px;
			font-weight: bold;
		}
		ul li a{
			color:  #f8d8e6;
			text-decoration: none;
		}
		ul li:hover{
			background:  #f8d8e6;
		}
.banner{
	background: url(../image/food1.jpg);
	width: 100%;
	height: 685px;
	background-size: cover;
}
.banner h1{
	position: relative;
    top: 379px;
    left: 385px;
    color: white;
}
.country{
	height: 90px;
	width: 100%;
	background-color: #b0b0b0;
	margin-top: -107px

}
.country h3
{
	margin-left: 65px;
    padding-top: 32px;
    color: white;
    float: left;

}
.country img{
	margin-top: 29px;
    margin-left: 30px;
}
.about{
	width: 100%;
	height:  590px;
	background-color: white;
	text-align: center;
}
.about button{
	color: white;
    padding: 16px;
    padding-left: 95px;
    text-align: center;
    padding-right: 95px;
    background-color: #d70f64;
}

.careers{
	background: url(../image/food3.jpg);
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.careers h1{
	text-align: center;
	color:  #d70f64;
    position: relative;
    top: 249px;
}
.careers p{
	text-align: center;
	color: white;
	font-size: 30px;
	position: relative;
	top: 260px;
}
.careers button{
	color: white;
    padding: 16px;
    padding-left: 95px;
    text-align: center;
    padding-right: 95px;
    background-color: #d70f64;
    position: relative;
    top: 267px;
    left: 642px;
}
.press{
	background: url(../image/food4.jpg);
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

}
.press h1{
	text-align: center;
	color:  #d70f64;
    position: relative;
    top: 249px;
}
.press p{
	text-align: center;
	color: white;
	font-size: 30px;
	position: relative;
	top: 260px;
}
.press button{
	color: white;
    padding: 16px;
    padding-left: 95px;
    text-align: center;
    padding-right: 95px;
    background-color: #d70f64;
    position: relative;
    top: 267px;
    left: 642px;
}
.contact{
	height: 600px;
	width: 100%;
	background-color: #d70f64;
}
.contact h1{
	text-align: center;
	color:  white;
    position: relative;
    top: 249px;
}
.contact p{
	text-align: center;
	color: white;
	font-size: 30px;
	position: relative;
	top: 260px;
}
.contact button{
	color:#d70f64 ;
	 padding: 16px;
    padding-left: 95px;
    text-align: center;
    padding-right: 95px;
    background-color: white;
    position: relative;
    top: 267px;
    left: 642px;
}
