*{
	margin: 0;
	padding: 0;
}
.header{
	width: 1330px;
	height: 60px;
	background: #3c8cf0;
	margin-left: 105px;
	margin-right:30px;
	/*margin: auto;*/
	
}
.header img{
	width: 137px;
	padding-top:10px ;
	padding-left: 42px;
}
.menu{
	margin-left: 265px;
	margin-top: -32px;
}
.menu a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 15px;
}
.a{
	border: 1px solid;
	margin-top: 0px;
	width: 1330px;
	background-color: #ffffff;
	height: 1000px;
	margin-left: 104px;
	border-color: #f5f5f5;
}
.b{
	/*border: 1px solid;*/
    width: 40px;
    height: 361px;
    /*border-color: black;*/
    float: left;
    padding-left: 176px;
    margin-left: 3px;
}
.b img{
	height: 284px;
	/*width: 40px;*/
    margin-left: -176px;

}
.c{
	background-color:#f5f5f5;
	border: 1px solid;
	margin-top: 0px;
	width: 1330px;
	height: 1000px;
	margin-left: 104px;
	border-color: white;

}

.d{
	font-size: 16px;
    font-weight: 600;
    letter-spacing: .1px;
    color: #35344c;
    margin-bottom: 95px;
}
.e{
	border: 1px solid;
    height: 360px;
    width: 311px;
    float: left;
    border-color: white;
    margin-left: 17px;
}
.f{
    height: 260px;
    width: 132px;
    float: left;
    margin-left: 103px;
    text-decoration: none;

}
.g{
	height: 423px;
    width: 1200px;
    border: 1px solid;
    margin: auto;
    margin-top: -78px;
    padding-left: 136px;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    float: left;
    margin-left: 91px;;
}
.g img{
	margin-left: -122px;
    margin-top: 64px;
}
.h {
	/*border: 1px solid;*/
    margin-left: 203px;
    float: left;
    border-color: black;
    height: 120px;
    width: 486px;
    margin-top: -60px;
}
.h a{
	 margin-left: 3px;
	 text-decoration: none;
}

.i{
	/*border-color: black;*/
    /*border: 1px solid;*/
    height: 155px;
    width: 210px;
    margin-left: 550px;
    margin-top: -67px;

}
.i a{
	margin-left: 3px;
	 text-decoration: none;
	margin-left: -135px;
}

.j{
	height: 155px;
    width: 210px;
    margin-left: 746px;
    margin-top: -157px;
    /*border: 1px solid;*/
}
.j a{
	text-decoration: none;
}

.k{
    height: 190px;
    width: 309px;
    margin-left: 883px;
    margin-top: -172px;
    /*border: 1px solid;*/
}

.l{
	height: 160px;
    width: 355px;
    margin-left: 286px;
    /*border: 1px solid;*/
    margin-top: -157px;
}
.m{
	height: 160px;
    width: 355px;
    margin-left: 777px;
    /*border: 1px solid;*/
    margin-top: -157px;
}